a,
a:visited {
    color: $link-color;
}

a:hover,
a:focus,
a:active {
    color: $link-color-hover;
}

.back-top {
    display: none;    
    position: fixed;
    right: 40px;
    bottom: 70px;
    line-height: 40px;
    font-size: 3em; /* 42/14 */
    text-decoration: none;
    cursor: pointer;
    z-index: 9998;
    color: $back-to-top-color;
    @include transition-button-hover;
} 

.back-top:hover {
    text-decoration: none;
    color: $back-to-top-color-hover;
    cursor: pointer;
}