/*
 * Holder for mobile navigation.
 * The menu bar that is clicked to display the .mobile-navigation.
 * 1. Set to 41px keeps the main section at 40px especially when used with a bottom border.
 */
.mobile-navigation-bar {
    font-family: $navigation-mobile-font-family;
    font-size: $navigation-mobile-font-size;
    position: fixed;
    width: 100%; 
    background: $navigation-mobile-bar-background-color;
    height: $navigation-mobile-height; /* 1 */
    top: $navigation-mobile-logo-mobile-height + $navigation-mobile-logo-mobile-margin-top + $navigation-mobile-logo-mobile-margin-bottom;
    border-bottom: $navigation-mobile-seperator;
    transition: top 0.2s ease;
}

.mobile-navigation-bar-scroll {
    top: 0;
}

/*
 * The mobile menu that slides in or down.
 * 1. Set to the same height as .mobile-navigation-bar.
 * 2. This sets a colour on the whole of mobile navigation slide in.
 */
.mobile-navigation {    
    position: fixed;
    bottom: 0;
    left: -100%;
    overflow-y: auto;
    width: 100%;
    top: $navigation-mobile-height + $navigation-mobile-logo-mobile-height + $navigation-mobile-logo-mobile-margin-top + $navigation-mobile-logo-mobile-margin-bottom;
    padding: 0;
    margin: 0;
    transition: left 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    background: $navigation-mobile-background-color; /* 2 */
}

.mobile-navigation-scroll {
    top: ($navigation-mobile-height + $navigation-mobile-logo-mobile-height + $navigation-mobile-logo-mobile-margin-bottom) - ($navigation-mobile-logo-mobile-height + $navigation-mobile-logo-mobile-margin-top);
}

.mobile-navigation-show {
    left: 0;
}

/*
 * Add to the body in js to ensure scrolling works correctly when the menu is longer than the page.
 */
.mobile-navigation-show-body {
    overflow: hidden;
}

/*
 * Mobile All Levels.
 */
.mobile-navigation ul {
    list-style: none;
    margin: 0;
}

/*
 * Mobile First Level.
 * 1. Remove margin previously set.
 */
.mobile-navigation ul li {
    display: block;
    margin: 0; /* 1 */
    border-top: $navigation-mobile-seperator;
}

/*
 * Remove double top border on first menu item (specific).
 * This works when a menu is set from admin and when no menu is set and Wordpress defaults to one.
 * The second rules accounts for a default wordpress menu which adds .menu wrapper to the ul.
 */
.mobile-navigation > ul > li:first-child,
.mobile-navigation > .menu > ul > li:first-child {
    border-top: none;
}

/*
 * All Levels.
 * Mobile navigation link style.
 */
.mobile-navigation a:link,
.mobile-navigation a:visited {
    display: block;
    padding: 9px 0 9px 7px;
    background: $navigation-mobile-link-background-color;    
    color: $navigation-mobile-link-color;
    text-transform: uppercase;
    font-weight: 700;    
    text-decoration: none;
    @include transition-button-hover;    
}

/*
 * All Levels.
 * Mobile navigation hover style.
 */
.mobile-navigation a:hover {
    background: $navigation-mobile-link-background-color-hover;
    color: $navigation-mobile-link-color-hover;
}

/*
 * Mobile Second Level.
 * Mobile navigation link style.
 */ 
.mobile-navigation ul ul li a:link,
.mobile-navigation ul ul li a:visited {
    padding-left: 21px;
}

/*
 * Mobile Third Level.
 * Mobile navigation link style.
 */
.mobile-navigation ul ul ul li a:link,
.mobile-navigation ul ul ul li a:visited {
    padding-left: 35px;
}

@media screen and (max-width: 767px) {

    .mobile-header {
        display: block;
    }

    .main-header,
    .main-header-navigation {
        display: none;
    }

}