/*
 * Overide <a> styles for image fonts (dashicons / font awesome).
 */
.image-font {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;   
} 

/*
 *  Position so sits in middle of navigation.
 * .image-font__Element.
 */
.image-font__sizing {
    text-align: center;
    font-size: 1.857142em; /* 26/14 */
    color: $navigation-mobile-bar-link-color;  
    display: inline-block;
    transition: color 0.1s ease-in 0;
}

.image-font__sizing--header {
    color: $brand-color-black;
    font-size: 1.428571em; /* 20/14 */    
}

/*
 * If text accompanies an image font, like Twitter logo on contact page
 */
.image-font__label {
    margin-left: 10px;
    color: $brand-color-black;
    font-size: 1.142857em; /* 16/14 */    
}

/*
 * Use my own reference to the image fonts so I control all styling not their stylsheets.
 * .image-font__Element.
 */
.image-font__dashicons {
    font-family: 'dashicons';
}

/*
 * Use my own reference to the image fonts so I control all styling not their stylsheets.
 * .image-font__Element.
 */
.image-font__fontawesome {
    font-family: 'FontAwesome';
}

.image-font__twitter {
    background: #1bb2e9;
}

.image-font__facebook {
    background: #3c599b;
}

.image-font__google {
    background: #dd4c39;
}

.image-font__linkedin {
    background: #0274b3;
}

.navicon-menu {
    margin-left: 8px;
    line-height: 41px;    
}

.navicon-contact {
    width: 38px;
    margin-right: 5px;
    line-height: 41px;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*
 * Set active links
 */
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_parent > a,
.main-navigation .current-post-ancestor > a {
    text-decoration: none;
    color: $brand-color-light-green-text;
}

/*
 * Set moible-navigation active links.
 * Need to me more specific as these overwrite a number of styles.
 * Ignore ancestors so main pages aren't highlighted active when in a sub page.
 */
.mobile-navigation .current_page_item > a,
/*.mobile-navigation .current_page_ancestor > a,*/
.mobile-navigation .current-menu-item > a,
/*.mobile-navigation .current-menu-ancestor > a*/ {
    background: $navigation-mobile-link-background-color-hover;
    color: $navigation-mobile-link-color-hover;
}