/*
 * Used for pagination when lists of posts are displayed.
 */
.posts-pagination {
	border-top: 1px solid $brand-color-light-green;
	padding-top: 10px;
	margin-top: 20px;
    font-size: 1.142857em; /* 16/14 */
    font-weight: 700;	
}

.posts-pagination__link {

}

.posts-pagination__link--newer {
	
	a {
		display: inline-block;
		text-decoration: none;
		transition: transform 0.15s ease-in-out;
		transform: translatex(14px);	
	}

	a:before {
		font-family: "FontAwesome";
		content: "\f104";
		color: $brand-color-light-green;
		font-size: 1.571428em; /* 22/14 */
		position: relative;
		top: 2px;
		left: -10px;		
	}	

	a:hover,
	a:active,
	a:focus {
		transform: translatex(10px);
	}

}

.posts-pagination__link--older {

	a {
		display: inline-block;
		text-decoration: none;
		transition: transform 0.15s ease-in-out;
		transform: translatex(-14px);
	}

	a:after {
		font-family: "FontAwesome";
		content: "\f105";
		color: $brand-color-light-green;
		font-size: 1.571428em; /* 22/14 */
		position: relative;
		top: 2px;
		left: 10px;		
	}	

	a:hover,
	a:active,
	a:focus {
		transform: translatex(-10px);
	}

}

/*
 * Used for pagination when a single post is displayed.
 */
.post-pagination {
	border-top: 1px solid $brand-color-light-green;
	padding-top: 10px;
	margin-top: 20px;
    font-size: 1.142857em; /* 16/14 */
    font-weight: 700;    
}

.post-pagination__link {

}

.post-pagination__link--newer {
	
	a {
		display: inline-block;
		text-decoration: none;
		transition: transform 0.15s ease-in-out;
		transform: translatex(-14px);
	}

	a:after {
		font-family: "FontAwesome";
		content: "\f105";
		color: $brand-color-light-green;
		font-size: 1.571428em; /* 22/14 */
		position: relative;
		top: 2px;
		left: 10px;		
	}	

	a:hover,
	a:active,
	a:focus {
		transform: translatex(-10px);
	}	

}

.post-pagination__link--older {

	a {
		display: inline-block;
		text-decoration: none;
		transition: transform 0.15s ease-in-out;
		transform: translatex(14px);
	}

	a:before {
		font-family: "FontAwesome";
		content: "\f104";
		color: $brand-color-light-green;
		font-size: 1.571428em; /* 22/14 */
		position: relative;
		top: 2px;
		left: -10px;		
	}	

	a:hover,
	a:active,
	a:focus {
		transform: translatex(10px);
	}

}
