/*
 * .archive-introduction styles
 * Used to dispkay title of archive page and optional description, like a category or tag description.
 */ 
.archive-introduction {
	margin-bottom: $text-margin-bottom;
}

.archive-introduction__title {
	
}

.archive-introduction__description {

}

/*
 * archive-content styles.
 * Used on archive listings for example home.php, category.php, archive.php.
 * applied to <article>
 */
.archive-content {
	margin-bottom: 30px;
}

.archive-content__image {
	margin-bottom: 10px;	
}

.archive-content-title a {
	text-decoration: none;
}

.archive-content-title__title {

}

.archive-content-title__sub {
    font-weight: 400;
}