.service-block {
	margin-bottom: $navigation-margin-bottom * 1.5;
	overflow: hidden;
}

.service-block__image {
	margin-bottom: 10px;
}

.service-block__heading {
	margin-bottom: 10px;
}

.service-block__button {
	margin-bottom: 0;
}

.accreditation {
	margin: 0 10px 10px 10px;
}