.main-footer {
	margin-top: 40px;
	margin-bottom: 10px;
	padding: 10px 0;
	background-image: url(img/footer_bkg.svg);
	background-size: 1190px;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 1.142857em; /* 16/14 */
}

.lt-ie9 .main-footer {
	background-image: url(img/footer_bkg.png);
}

@media screen and (max-width: 480px) {
	.main-footer {
		font-size: 1.071428em; /* 15/14 */
	}
}

.sub-footer__copyright {
	text-transform: uppercase;
	color: $text-color-light;
	margin-bottom: 20px;
}

.main-footer__phone {
	margin-bottom: 0;
}

.main-footer__social a {
	color: #fff;
}