.malinky-table {
  
	width: 100%;

	tr {
		border-top: 1px solid #FFFFFF;
	}

	tr:first-child {
	  	border-top: none;
	}

	td {
	  	padding: 10px;
	}

	td:first-child {
	  	font-weight: 700;
	}

	tr:nth-child(odd) {
	  	background: #f3f3f3;
	}

	tr:nth-child(even) {
	  	background: #ececec;
	}	

}

.accreditation {
	max-height: 40px;
	margin: 0 20px 40px 0;
}