.logo {
	display: inline-block;
	width: 272px;
	margin: 15px 0;
}

.main-header__bkg {
	max-width: 1190px;
	margin: 0 auto;
	padding: 0 100px;
	background-image: url(img/header_bkg.svg);
	background-repeat: no-repeat;
	background-size: 1500px;
	background-position: 100% -160px;
}

.lt-ie9 .main-header__bkg {
  background-image: url(img/header_bkg.png);
}

.main-header-contact {
	display: inline-block;
	margin-top: 62px;
	margin-right: 25px;
}

.main-header-contact--social {
	margin-top: 8px;
}

.main-header-contact:last-child {
	margin-right: 0;
}

@media screen and (max-width: 1024px) {
	
	.main-header-contact {
		display: block;
		margin-top: 0;
		margin-bottom: 2px;
		margin-right: 0;
	}

	.main-header-contact:first-child {
		margin-top: 13px;
	}

	.main-header-contact--social:first-child {
		margin-top: 10px;
	}

	.main-header-contact:not(.main-header-contact--social) .image-font__sizing {
		display: none;
	}

}

/*
 * Start of mobile mobile-header
 */
.mobile-header {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	transition: top 0.2s linear;
	z-index: 9998;
}

.mobile-header-scroll {
	top: -($navigation-mobile-logo-mobile-height + $navigation-mobile-logo-mobile-margin-top);
}

.logo-mobile {
	height: $navigation-mobile-logo-mobile-height;
	margin-top: $navigation-mobile-logo-mobile-margin-top;
	margin-bottom: $navigation-mobile-logo-mobile-margin-bottom;
}