/*
 * content-header styles.
 * Used to contain the post title and meta data, like posted on date.
 * Used on singles and on search results.
 */ 
.content-header {
}

.content-header__title {
	margin-bottom: $text-margin-bottom / 2;
}

.content-header__meta {
	margin-bottom: $text-margin-bottom / 2;
	padding-bottom: 5px;
	border-bottom: 1px solid $brand-color-light-green;	
}

.content-header__meta__date {

}

.content-header__meta__date--published {

}

.content-header__meta__date--updated {

}

.content-header__meta__date time {
	font-weight: 700;
}

.content-main {

}

.content-summary {
	margin-bottom: 20px;
}

.content-summary__more-link {

}

.content-footer {
	margin-bottom: 20px;
}

.content-footer__cat-link {

}

.content-footer__tag-link {

}

.content-footer__edit-link {
	display: block;
}