.sidebar {
}

.sidebar-mobile {
	display: none;
}

.sidebar-mobile aside.widget {
	display: none;
	margin-left: 10px;
}

.sidebar-mobile a.widget-open {
	display: block;
	height: 36px;
	line-height: 36px;	
	background: $brand-color-light-green;
	padding: 0 0 0 8px;
	color: #fff;
	text-transform: uppercase;
	@include transition-button-hover;
}

.sidebar-mobile a.widget-open:hover,
.sidebar-mobile a.widget-open:active, 
.sidebar-mobile a.widget-open:focus {
	cursor: pointer;
	background: $brand-color-dark-green;
}

.sidebar-mobile a.widget-open:before {
	margin-right: 0;
	content: "";
}

.sidebar-mobile a.widget-open:after {
	display: inline-block;
	margin-left: 20px;
	content: "\f107";
	font-family: "FontAwesome";
	font-size: 2em; /*28/14 */
	vertical-align: bottom;
	color: #fff;
	transition: 0.4s;	
}

.sidebar-mobile--open {
	border-bottom: 1px solid $brand-color-light-green;
	margin-bottom: 20px;
}

.widget-open--open:after {
	transition: 0.4s;	
	transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
	
	.sidebar {
		display: none;
	}

	.sidebar-mobile {
		display: block;
	}

}

.widget-title {
	margin-bottom: 15px;
	text-transform: uppercase;
}

.widget ul,
.tagcloud {
	list-style-type: none;
	margin: 0 0 $text-margin-bottom 0;
	padding: 0;
	font-weight: 700;
}

.widget li {
	margin: 10px 0;
	
}

.widget li:last-child {
	
}

.widget a,
.widget a:visited  {
	display: inline-block;
	position: relative;
	padding: 0 0 0 13px;
	text-decoration: none;
	transition: transform 0.15s ease-in-out;
}

.widget a:hover,
.widget a:active,
.widget a:focus {
	transform: translatex(4px); 
}

/*
 * Position :before to stop flicker and moving of adjoining text on each page load.
 */
.widget a:before {
	position: absolute;
	left: 0;
	content: "\f105";
	font-family: "FontAwesome";
}

.widget_tag_cloud .widget-title {
	color: inherit;
	background: none;
	padding: 0 0 6px 0;
}

/*
 * Tagcloud in .widget but needs some extra style to overwrite text.
 */
.tagcloud a,
.tagcloud a:visited {
	display: inline-block;
	background: $brand-color-dark-green;
	min-height: 36px;
	padding: 9px 5px 0 8px;
	font-weight: 700;
	font-size: inherit !important; /* 1 */	
	margin: 0 2px 6px 0;
	@include transition-button-hover;
}

.tagcloud a:hover,
.tagcloud a:active,
.tagcloud a:focus {
	background: $brand-color-dark-green;
}

.tagcloud a:before {
	margin-right: 0;
	content: "";
}

.widget_search label h5 {
	padding: 0 0 6px 0;
	margin: 0;
}