$font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-color: #666;
$text-color-light: #b2b2b2;
$text-margin-bottom: 21px;

$brand-color-black: #231f20;
$brand-color-dark-green: #05382b;
$brand-color-light-green: #8aa099;
$brand-color-lightest-green: #f9fbf1;
$brand-color-light-green-text: #a4c0b7;

$link-color: $brand-color-light-green;
$link-color-hover: $brand-color-light-green;

/*
 * Main and fixed navigation.
 * 1. Nudge content below navigation. Also used to nudge mobile navigation in _wrap.scss.
 * 2. Should be more scrollTop in main.js (80px).
 */
$navigation-margin-bottom: 30px; /* 1 */
$navigation-height: 46px; /* 2 */
$navigation-fixed-height: 46px;
$navigation-bar-background-color: $brand-color-dark-green;
$navigation-bar-link-background-color-hover: $brand-color-dark-green;
$navigation-bar-border-width: 1px;
$navigation-bar-border-color: $brand-color-light-green;
$navigation-link-color: #fff;
$navigation-link-color-hover: $brand-color-light-green-text;
$navigation-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$navigation-font-size: 1em; /* 16/14 */

/*
 * Dropdown navigation.
 */
$navigation-dropdown-background-color: $brand-color-dark-green;
$navigation-dropdown-link-color: #fff;
$navigation-dropdown-link-color-hover: $brand-color-light-green-text;

/*
 * Mobile navigation.
 * 1. Fixed mobile navigation bar .mobile-navigation-bar.
 * 2. Usually color of icon fonts on fixed mobile navigation bar. No hover as tends to be touch screen.
 * 3. Mobile navigation that slides in.
 * 4. Backgrounds of the links that slide in.
 * 5. Text color of the links that slide in.
 */
$navigation-mobile-height: 41px;
$navigation-mobile-bar-background-color: $brand-color-dark-green; /* 1 */
$navigation-mobile-bar-link-color: #fff; /* 2 */
$navigation-mobile-background-color: $brand-color-dark-green; /* 3 */
$navigation-mobile-link-background-color: $brand-color-dark-green; /* 4 */
$navigation-mobile-link-background-color-hover: $brand-color-light-green; /* 4 */
$navigation-mobile-link-color: #fff; /* 5 */
$navigation-mobile-link-color-hover: #fff; /* 5 */
$navigation-mobile-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$navigation-mobile-font-size: 1em; /* 14/14 */
$navigation-mobile-seperator: 1px solid #fff;

$navigation-mobile-logo-mobile-height: 101px;
$navigation-mobile-logo-mobile-margin-top: 5px;
$navigation-mobile-logo-mobile-margin-bottom: 5px;

$footer-background-color: $brand-color-dark-green;
$footer-border: 5px solid $brand-color-dark-green;

$button-background-color: #fff;
$button-background-color-hover: $brand-color-light-green;
$button-text-color: $brand-color-light-green;
$button-text-color-hover: #fff;
$button-border: 3px solid $brand-color-light-green;

$form-placeholder-color: #999;

$border-color: $brand-color-light-green;

$back-to-top-color: $brand-color-light-green;
$back-to-top-color-hover: $brand-color-dark-green;