hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $border-color;
    margin: 0 0 ($navigation-margin-bottom * 1.5) 0;
    padding: 0;
}

hr.double {
    border-top: 2px solid $border-color;
}

ul,
ol {
    margin: 0 0 21px 1.5em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li {
    margin-bottom: 0.5em;
}

li > ul,
li > ol {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.list-content {
    list-style-type: none;
    margin: 0 0 $text-margin-bottom 0;
    padding: 0;
}

.list-content li {
    margin-bottom: 3px;
}

.list-content li:before {
    margin-right: 8px;
    content: "\f105";
    font-family: "FontAwesome";
    font-weight: bold;
    color: $brand-color-light-green;
}

.list-two-column {
    column-count: 2;
}

@media screen and (max-width: 480px) {

  .list-two-column {
      column-count: 1;      
  }

}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 21px 3em;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

img.non-responsive {
    max-width: none;
} 

figure {
    margin: 0;
}

table {
    margin: 0 0 21px 0;
    width: 100%;
}

th {
    text-align: left;
}