/*
 * Used for a full width block.
 */
.wrap-full {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.wrap-full--main-navigation {
	box-shadow: 0px 4px 4px -2px $brand-color-black;
    z-index: 9998;
    position: relative;     
}

/*
 * Used for a block the width of the nav.
 */
.wrap-1190 {
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
}

/*
 * Used for inner of full width block or standalone non full width block.
 */
.wrap {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px; /* 1 */
}

/*
 * Add color or image to full width background.
 * .wrap--Modifier. 
 */
.wrap--bkg {

}

/*
 * Nudge content below fixed navigation.
 * Always added alongside .wrap (usually from <main>).
 */
@media screen and (max-width: 767px) {

    .wrap-mobile {
        margin-top: $navigation-mobile-height + $navigation-mobile-logo-mobile-height + $navigation-mobile-logo-mobile-margin-top + $navigation-mobile-logo-mobile-margin-bottom + $navigation-margin-bottom;
    }

    .wrap-mobile--carousel {
        margin-top: $navigation-mobile-height + $navigation-mobile-logo-mobile-height + $navigation-mobile-logo-mobile-margin-top + $navigation-mobile-logo-mobile-margin-bottom;
    }

    /*.wrap-mobile--fixed {
        margin-top: $navigation-mobile-height + $navigation-margin-bottom;
    }*/   

}