.malinky-gallery-slider-wrapper {
	margin-top: 20px !important;
}

.malinky-gallery-slider-image a:hover {
    box-shadow: none !important;
}

.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
    color: #05382b !important;
    background: none !important;
    opacity: 0.5 !important;
    width: auto !important;
    height: auto !important;
    line-height: initial !important;
}

.bx-wrapper .bx-next {
	right: 0 !important;
}

.bx-wrapper .bx-prev:before {
    content: "\f053" !important;
}

.bx-wrapper .bx-next:before {
    content: "\f054" !important;
}

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-next:hover {
    background: none !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important; /* IE 8 */
    opacity: 1 !important;
}

.bx-wrapper .bx-controls-direction a.bx-prev.disabled,
.bx-wrapper .bx-controls-direction a.bx-next.disabled {
	background: none !important;
    color: #b2b2b2 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" !important; /* IE 8 */    
	opacity: 0.5 !important;    
}